* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
    font-size: 175%;
}

#row {
    margin:20px;
}

.gray {
    border: 1px solid black;
    background-color: lightgray;
    height: 250px;
    margin: 20px;
    position: relative;
}
.float {
    float: right;
}

p {
    padding: 10px;
    float: left;
    clear: both;
}
#rainbow1 {
    border: 1px solid black;
    background-color: palevioletred;
    width: 120px;
    height: 30px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 125%;
}
#rainbow2 {
    border: 1px solid black;
    background-color: tomato;
    width: 120px;
    height: 30px;
    text-align: center;
    color:aliceblue;
    display: table-cell;
    vertical-align: middle;
    font-size: 125%;
}
#rainbow3 {
    border: 1px solid black;
    background-color: yellowgreen;
    width: 120px;
    height: 30px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 125%;
}
/* Desktop resolution */
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        float: left;
    }
    }

/* Tablet resolution */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12 {
        float: left;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

/* Mobile resolution */
@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
}



/* Also, set the font size of the heading and section title to be 75% larger and 25% larger (respectively) than the font size of the dummy text. */